<configuration debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>[%highlight(%level)] %cyan(%X{dsl:-*}) %msg%n%ex{SHORT}</pattern>
    </encoder>
  </appender>
  <logger name="com.extendaretail" level="info"/>
  <logger name="guru.nidi.graphviz" level="error"/>
  <logger name="com.structurizr.dsl.AbstractViewParser" level="error"/>
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
