name: commit
on: push

jobs:
  test:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
          with:
            fetch-depth: 0

        - uses: actions/setup-java@v5
          with:
            distribution: 'temurin'
            java-version-file: .java-version

        - name: Run tests
          uses: extenda/actions/maven@v0
          with:
            args: verify
            version: pom.xml
            service-account-key: ${{ secrets.SECRET_AUTH }}

        - name: Scan with SonarCloud
          uses: extenda/actions/sonar-scanner@v0
          with:
            sonar-host: https://sonarcloud.io
            sonar-scanner: maven
            main-branch: master
            service-account-key: ${{ secrets.SECRET_AUTH }}

        - name: build docker
          run: docker buildx build -t extenda/structurizr-to-png .

  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs:
      - test
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version

      - name: Build
        uses: extenda/actions/maven@v0
        with:
          args: package -DskipTests
          version: pom.xml
          service-account-key: ${{ secrets.SECRET_AUTH }}

      - uses: extenda/actions/gcp-secret-manager@v0
        with:
          service-account-key: ${{ secrets.SECRET_AUTH }}
          secrets: |
            DOCKER_PASSWORD: dockerhub-password
            DOCKER_USERNAME: dockerhub-username

      - name: Push to DockerHub
        uses: extenda/actions/docker@v0
        with:
          image: extenda/structurizr-to-png
          tag: latest
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
